<table class="table table-secondary table-striped">
    <thead>
        <tr>
            <th>画像</th>
            <th>ユーザーID</th>
            <th>名前</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>