<table class='table'>
    <thead>
        <tr>
            <th>画像</th>
            <th>名前</th>
            <th>メンバー</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% groups.each do |group| %>
            <tr>
                <td><%= image_tag group.get_image, size: '50x50' %></td>
                <td><%= link_to group.name, public_group_path(group), class: "group_#{group.id}" %></td>
                <td><%= group.group_customers.count %></td>
                <% unless admin_signed_in? %>
                 <% if group.is_owner_by?(current_customer) %>
                    <td><%= link_to '編集', edit_public_group_path(group), class: "group_#{group.id}" %></td>
                 <% end %>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>