<div class="jQuery_aplly">
<h2>Follower Users</h2>
<% if @customers.exists? %>
    <%= render 'public/customers/index', customer: @customers %>
<% else %>
    <p>ユーザーはいません</p>
<% end %>
<div class="jQuery_aplly">