<% if @model == 'customer' %>
    <h3>Customers search for "<%= @content %>"</h3>
    <%= render 'public/customers/index', customers: @records %>
<% elsif @model == 'book' %>
    <h3>Comments search for "<%= @content %>"</h3>
    <%= render 'public/books/index', books: @records %>
<% end %>