<% ratings.each do |ratings| %>
    <div class="border border-success mb-5">
        <br>
        <div class="d-flex justify-content-around">
            <div class="border border-5 border-dark">ユーザー名:<%= ratings.name %></div>
            <div class="border border-5 border-dark">投稿者のID:<%= ratings.customer_id %></div>
        </div>
        <br>
        <div class="col-sm-11 border border-5 border-primary rounded mx-auto">
            <h4><%= safe_join(ratings.introduction.split("\n"),tag(:br)) %></h4>
        </div>
            <%= render "public/ratings/static_rate", rating: ratings %>
    </div>
<% end %>
