<div class="container">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
   <h1 style="border-bottom:5px solid black; color: #4BC595;"><abbr>チャット</abbr>とは？</h1>
   <br>
   <h2>簡単に説明</h2>
   <p>インターネットを使用した話し合いのこと</p>
   <br>
   <h2>詳しく説明</h2>
   <p>
　 作成中です
   </p>
   <br>
   <h3>まとめ</h3>
   <p>作成中です</p>
  </div>
 </div>
</div>
