<div class="container">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
　 <p>
　  ここは辞典ページです。
　  SNSに関する様々な用語を紹介しています。
　  これらの用語を知っていればSNSをより円滑に使用する事が出来るでしょう。
　 </p>
　 <i>
　  <%= link_to 'SNSとは', sns_public_dictionaries_path, class: 'btn btn-info' %>
　 </i>
　</div>
 </div>
</div>