<div class="container">
 <div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
   <h1 style="border-bottom:5px solid black"><abbr>SNS</abbr>とは？</h1>
   <br>
   <h2>簡単に説明</h2>
   <p>パソコンやスマホ<ruby>等<rt>など</rt></ruby>のインターネットを使える機械を用いて、誰かと会話したりすることで情報を共有できるサービスのことです。</p>
   <br>
   <h2>詳しく説明</h2>
   <p>
   <abbr>SNS</abbr>は<s>ソーシャル・ネットワーキング・サービス</s>が正式名称です。<br>
   名前が長いのでこの様に略されました。<br>
   <br>
   
   </p>
  </div>
 </div>
</div>