<div class="position-relative">
<div class="navbar navbar-expand-lg navbar-light bg-info text-light position-absolute bottom-0 w-100 bg-dark pt-5 pb-4">
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col-md-12 mx-auto">
                <h1>CopyRight ■■■■■■■■■</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mx-auto">
            <ul class="navbar-nav">
                <li>
                <%=link_to 'https://twitter.com/?lang=ja', class: 'nav-link text-light' do%>
                    <i class="fab fa-twitter display-2"></i>
                <%end%>
                </li>
                <li>
                <%=link_to 'https://www.instagram.com/', class: 'nav-link text-light' do%>
                    <i class="fab fa-instagram display-2"></i>
                <%end%>
                </li>
                <li>
                <%=link_to 'https://ja-jp.facebook.com/', class: 'nav-link text-light' do%>
                    <i class="fab fa-facebook display-2"></i>
                <%end%>
                </li>
            </ul>
            </div>
        </div>
    </div> 
</div>
</div>
